<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgProLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://github.com/EduRePiN" target="_blank"><img src="../../../assets/git.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>