.row{
    background: #c0c0c0;
}

footer{
    color: black;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}