#general{
    padding: 20px;
    background-color: #c0c0c0;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(164, 72, 41, 0.55);
    margin: 15px 15px;
}

#proye{
    border-color: rgba(164, 72, 41, 0.55);
    margin: 10px 10px;
    border-style: solid;
    border-width: 4px;
}

div{
    background: #d8d8d8;
    border-radius: 20px;
}

.card-body{
    margin: 15px 15px;
}

.card-img-top{
    border-radius: 20px;
    margin-top: 10px;
}