<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyec" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h2>{{Proyecto.nombreE}}</h2>
                    </td>
                    <td>{{Proyecto.descripcionE}}</td>
                    <td>{{Proyecto.urlE}}</td>
                    <div class="col-lg-4">
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="./editproyec/{{Proyecto.id}}">
                                <i class="bi bi-pencil-fill"></i></button>
                        </td>                  
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>